@import '../../../sass/main.scss';
.inputBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 0.5rem;
}
.inputBox label {
  font-size: 1.4rem;
  margin-bottom: 0.1rem;
}
.inputBox input {
  width: 19rem;
  height: 3.8rem;
  border: 0.1rem solid $color-main-light;
  border-radius: 1rem;
  padding: 0 1rem;
  font-size: 1.6rem;
  text-align: right;
  margin: 0.2rem 0;
}
// focused
.inputBox input:focus {
  outline: none;
  border: 0.1rem solid $color-main-dark;
}

.md {
  input {
    width: 25rem;
    margin-top: -0.3rem;
  }
}
.sm {
  input {
    width: 8rem;
  }
}

.error {
  input {
    background-color: $color-main-danger-transparent;
    border: 0.1rem solid $color-main-danger;
  }
}
