@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@700&display=swap');

$main-font: 'Cairo', sans-serif;

$color-main-dark: #19355a;
// $color-main-dark: #040d12;
$color-secondary-dark: #8f7a09;
$color-secondary-light: #a18a00;
$color-main-light: #cdcdcd;
$color-main-light-2: #f5f5f5;
$color-main-light-2-2: #e3dfdf;
$color-main-light-3: #ffffff;
$color-third-light: #1e272e;
$color-main-success: #0a9630;
$color-main-danger: #c01e1e;
$color-main-danger-transparent: #c01e1ea2;
$color-main-danger-light: #d92929;
