@import '../../../sass/main.scss';

.list-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .table {
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    tr {
      th {
        background-color: $color-main-dark;
        padding: 1rem;
        color: $color-main-light-3;
        font-size: 1.3rem;
        text-align: center;
        &:first-child {
          border-top-right-radius: 1rem;
        }
        &:last-child {
          border-top-left-radius: 1rem;
        }
      }
      td {
        background-color: $color-main-light-3;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
        padding: 1rem;
        font-size: 1.3rem;
        text-align: center;
        p {
          margin: 0;
        }
        &:last-child {
          img {
            cursor: pointer;
            width: 2rem;
            margin-left: 0.5rem;
          }
        }
      }
    }
  }
}

.confirm-input {
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
  justify-content: center;
  align-items: center;
}
.btns-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.btn {
  background-color: $color-main-dark;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  width: 6rem;
  height: 3rem;
  font-size: 1.2rem;
  font-family: $main-font;
  margin-left: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  &:last-child {
    margin-left: 0rem;
  }
}
.danger {
  background-color: $color-main-danger;
  border: 0.1rem solid $color-main-danger;
  &:hover {
    border: 0.1rem solid $color-main-danger;
    background-color: $color-main-danger-light;
  }
}
// media queries
@media only screen and (max-width: 768px) {
  .info-bar-container {
    &__part {
      span {
        font-size: 1.6rem;
        font-weight: bold;
        // margin: 0 0.3rem;
      }
      .info-item {
        margin: 0 0.5rem;
      }
    }
  }
  .courses-container {
    justify-content: center;
  }
}
