@import '../../../sass/main.scss';
.document-container {
  background-color: $color-third-light;
  padding: 0.5rem;
  border-radius: 1.5rem;
  overflow: hidden;
  //   style embeded
  // embed {
  //   min-height: fit-content;
  // }
  // img {
  //   width: 100%;
  // }
}
