@import '../../../sass/main.scss';

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  height: 3.5rem;
  border: none;
  border-radius: 1rem;
  background-color: #153858;
  color: #ffffff;
  font-size: 1.3rem;
  font-family: $main-font;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 0.1rem solid #153858;
  margin: 0.5rem 0;
}
.icon {
  width: 2.5rem;
  margin: 0 -2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 100%;
    // change color of icon
  }
}
/* btn hover */
.btn:hover {
  background-color: #ffffff;
  color: #153858;
  border: 0.1rem solid #153858;
  img {
    width: 100%;
    // change color of icon
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg)
      brightness(100%) contrast(100%);
  }
}
.fixed-width {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 8rem;
  border: none;
  border-radius: 1rem;
  background-color: #153858;
  color: #ffffff;
  font-size: 1.3rem;
  font-family: $main-font;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 0.1rem solid #153858;
  // margin: 1rem 0;
}
.fixed-width:hover {
  background-color: #ffffff;
  color: #153858;
  border: 0.1rem solid #153858;
}
